@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --background: 285 100% 98%;
        --foreground: 240 5% 20%;
        --card: 240 15% 92%;
        --card-foreground: 240 5% 20%;
        --popover: 240 15% 92%;
        --popover-foreground: 240 5% 20%;
        --primary: 257 25% 54%;
        /*selected dark purple*/
        --primary-foreground: 0 0% 100%;
        --secondary: 240 15% 92%;
        --secondary-foreground: 240 5% 20%;
        --muted: 240 15% 92%;
        --muted-foreground: 240 5% 20%;
        --accent: 257 25% 71%;
        /*hovering over accent*/
        --accent-foreground: 0 0% 100%;
        --destructive: 0 72% 51%;
        --destructive-foreground: 0 0% 100%;
        --border: 240 8% 25%;
        --input: 240 8% 25%;
        --ring: 268 65% 55%;
        --radius: 0.75rem;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateX(-20px);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes fadeDown {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.animate-fade-in {
    animation: fadeIn 1500ms ease-out;
}

.animate-fade-down {
    animation: fadeDown 1500ms ease-out;
}

body::-webkit-scrollbar {
    display: none;
}

body {
    -ms-overflow-style: none; 
    scrollbar-width: none; 
}


@layer base {
    * {
        @apply border-border;
    }

    body {
        @apply bg-background text-foreground font-body;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        @apply font-heading;
    }
}