@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 240 5% 95%;
    --foreground: 240 10% 10%;
    --primary: 240 5% 95%;
    --primary-foreground: 240 10% 10%;
    --secondary: 240 10% 90%;
    --secondary-foreground: 240 10% 20%;
    --accent: linear-gradient(90deg, rgba(91,33,182,1) 0%, rgba(255,72,91,1) 100%);
    --accent-foreground: 0 0% 100%;
    --destructive: 0 84% 50%;
    --destructive-foreground: 0 0% 100%;
    --muted: 240 5% 85%;
    --muted-foreground: 240 10% 20%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 15%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 10%;
    --border: 240 10% 80%;
    --input: 240 10% 80%;
    --ring: 240 10% 60%;
    --radius: 0rem;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateX(-20px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.animate-fade-in {
  animation: fadeIn 1500ms ease-out;
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground font-body;
  }

  h1, h2, h3, h4, h5, h6 {
    @apply font-heading;
    background: var(--accent);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}
